Repository swig/swig, pull requests merged in 2018-04, with the labels that each got.

#1213 Fix ruby %alias directive for native c functions
  Examples/test-suite/ruby/Makefile.in
  Examples/test-suite/ruby/ruby_alias_global_function_runme.rb
  Examples/test-suite/ruby/ruby_alias_method_runme.rb
  Examples/test-suite/ruby/ruby_alias_module_function_runme.rb
  Examples/test-suite/ruby_alias_global_function.i
  Examples/test-suite/ruby_alias_method.i
  Examples/test-suite/ruby_alias_module_function.i
  Source/Modules/ruby.cxx
Labels: Ruby

#1230 Fix off-by-one error
  Lib/guile/guile_scm_run.swg
Labels: Guile

#1235 Fix go version matching in configure for go1.10
  configure.ac
Labels: Go
