Repository swig/swig, pull requests merged in 2019-01, with the labels that each got.

#1392 [OCaml] Add an OCaml entry to .gitignore
  .gitignore
Labels: OCaml

#1391 [OCaml] Replace SWIGSTATIC with SWIGINTERN
  Lib/ocaml/ocaml.i
  Lib/ocaml/ocaml.swg
  Lib/ocaml/ocamldec.swg
Labels: OCaml

#1019 Experimental fix for delimiter leakage in raw strings
  Source/Swig/scanner.c
Labels: C++11

#1227 %pythonappend docs and memory management example
  Doc/Manual/Python.html
Labels: Python
