Repository swig/swig, pull requests merged in 2019-02, with the labels that each got.

#1463 Fixed typo in Perl5 docs.
  Doc/Manual/Perl5.html
Labels: Perl

#1234 Python container memory handling fix
  Lib/python/pycontainer.swg
Labels: Python

#1240 [Java] Suppress deprecation warning on finalize method
  Examples/test-suite/java_director.i
  Examples/test-suite/java_throws.i
  Lib/java/java.swg
Labels: Java

#1035 Prevent writeback of a const char* array through a director when usin…
  Lib/java/java.swg
Labels: Java
