Repository swig/swig, pull requests merged in 2020-01, with the labels that each got.

#1688 Changed return type of swig_this() to size_t.
  Lib/octave/octrun.swg
Labels: Octave

#1654 Fix for Issue #1643
  Examples/test-suite/doxygen_basic_translate.i
  Examples/test-suite/java/doxygen_basic_translate_runme.java
  Examples/test-suite/python/doxygen_basic_translate_runme.py
  Source/Doxygen/pydoc.cxx
Labels: Doxygen

#1710 Fix crash in Python backend when using empty docstrings
  Examples/test-suite/autodoc.i
  Examples/test-suite/python/autodoc_runme.py
  Source/Modules/python.cxx
Labels: Doxygen, Python

#1626 Extend std::auto_ptr<> support to Ruby
  CHANGES
  Examples/test-suite/li_std_auto_ptr.i
  Examples/test-suite/ruby/li_std_auto_ptr_runme.rb
  Lib/ruby/std_auto_ptr.i
Labels: Ruby
