Repository swig/swig, pull requests merged in 2020-05, with the labels that each got.

#1788 Fix for missing space after \endlink in doxygen
  Examples/test-suite/doxygen_misc_constructs.i
  Examples/test-suite/doxygen_translate_all_tags.i
  Examples/test-suite/java/doxygen_translate_all_tags_runme.java
  Examples/test-suite/python/doxygen_translate_all_tags_runme.py
  Source/Doxygen/doxyparser.cxx
Labels: Doxygen

#1709 D: Replace deprecated imports (package std.c). Fixes #1593
  Lib/d/wrapperloader.swg
Labels: D

#1789 Octave: fixes to ./configure, remove atexit() bug, fix exception handling
  .gitignore
  .travis.yml
  CHANGES.current
  Examples/Makefile.in
  Examples/octave/example.mk
  Examples/test-suite/octave/Makefile.in
  Lib/octave/director.swg
  Lib/octave/extra-install.list
  Lib/octave/octcontainer.swg
  Lib/octave/octheaders.hpp
  Lib/octave/octrun.swg
  Lib/octave/octruntime.swg
  Lib/octave/std_complex.i
  Source/Modules/octave.cxx
  Tools/travis-osx-install.sh
  configure.ac
Labels: Octave
