Repository swig/swig, pull requests merged in 2021-03, with the labels that each got.

#1952 Don't use invalid iterators in Doxygen command parsing code
  Source/Doxygen/doxyparser.cxx
Labels: Doxygen

#577 Implemented JSC SetModule / GetModule - allow type sharing across modules
  Lib/javascript/jsc/javascriptinit.swg
Labels: Javascript

#1974 php: Fix char* typecheck typemap to accept Null
  CHANGES.current
  Examples/test-suite/overload_polymorphic.i
  Examples/test-suite/php/overload_polymorphic_runme.php
  Lib/php/php.swg
Labels: PHP

#1909 Add and improve Ruby test cases in the context of nesting and namespaces
  Examples/test-suite/common.mk
  Examples/test-suite/csharp/Makefile.in
  Examples/test-suite/csharp/template_nested_flat_runme.cs
  Examples/test-suite/java/Makefile.in
  Examples/test-suite/java/template_nested_flat_runme.java
  Examples/test-suite/multiple_inheritance_abstract.i
  Examples/test-suite/multiple_inheritance_interfaces.i
  Examples/test-suite/multiple_inheritance_nspace.i
  Examples/test-suite/multiple_inheritance_shared_ptr.i
  Examples/test-suite/nested_scope.i
  Examples/test-suite/nested_scope_flat.i
  Examples/test-suite/ruby/Makefile.in
  Examples/test-suite/ruby/constant_directive_runme.rb
  Examples/test-suite/ruby/contract_runme.rb
  Examples/test-suite/ruby/cpp11_alias_nested_template_scoping_runme.rb
  Examples/test-suite/ruby/cpp17_nested_namespaces_runme.rb
  Examples/test-suite/ruby/cpp_enum_runme.rb
  Examples/test-suite/ruby/cpp_static_runme.rb
  Examples/test-suite/ruby/enums_runme.rb
  Examples/test-suite/ruby/import_fragments_runme.rb
  Examples/test-suite/ruby/multiple_inheritance_abstract_runme.rb
  Examples/test-suite/ruby/multiple_inheritance_nspace_runme.rb
  Examples/test-suite/ruby/namespace_chase_runme.rb
  Examples/test-suite/ruby/namespace_class_runme.rb
  Examples/test-suite/ruby/namespace_forward_declaration_runme.rb
  Examples/test-suite/ruby/namespace_virtual_method_runme.rb
  Examples/test-suite/ruby/nested_class_runme.rb
  Examples/test-suite/ruby/nested_directors_runme.rb
  Examples/test-suite/ruby/nested_in_template_runme.rb
  Examples/test-suite/ruby/nested_scope_flat_runme.rb
  Examples/test-suite/ruby/nested_template_base_runme.rb
  Examples/test-suite/ruby/nested_workaround_runme.rb
  Examples/test-suite/ruby/preproc_runme.rb
  Examples/test-suite/ruby/template_nested_flat_runme.rb
  Examples/test-suite/ruby/template_static_runme.rb
  Examples/test-suite/template_nested.i
  Examples/test-suite/template_nested_flat.i
  Examples/test-suite/template_static.i
Labels: Ruby

#1092 Fix evil_diamond_prop test case. - gsoc2017
  Lib/php/php.swg
  Lib/php/phprun.swg
  Source/Modules/php.cxx
Labels: PHP
