Repository swig/swig, pull requests merged in 2022-01, with the labels that each got.

#2045 Support std::array in Golang
  Examples/test-suite/cpp11_std_array.i
  Examples/test-suite/go/cpp11_std_array_runme.go
  Lib/go/std_array.i
Labels: Go

#2144 [perl] Require at least Perl 5.8.0
  CHANGES.current
  Doc/Manual/Perl5.html
  Examples/test-suite/perl5/operator_overload_break_runme.pl
  Examples/test-suite/perl5/operator_overload_runme.pl
  Examples/test-suite/perl5/packageoption_runme.pl
  Lib/perl5/perlhead.swg
  Lib/perl5/perlinit.swg
  Lib/perl5/perlrun.swg
  RELEASENOTES
  Source/Modules/perl5.cxx
  configure.ac
Labels: Perl

#2148 Php type hints
  Doc/Manual/Php.html
  Examples/test-suite/li_factory.i
  Examples/test-suite/php/argout_runme.php
  Examples/test-suite/php/li_factory_runme.php
  Lib/php/factory.i
  Lib/php/php.swg
  Lib/php/phppointers.i
  Lib/php/phprun.swg
  Lib/php/std_string.i
  Lib/php/typemaps.i
  Lib/php/utils.i
  Source/Modules/php.cxx
Labels: PHP

#2032 Ruby: Fix warnings in generated code about missing parameter in variadic macro
  Lib/ruby/rubyclasses.swg
  Lib/ruby/rubycomplex.swg
  Lib/ruby/rubycontainer.swg
  Lib/ruby/rubyrun.swg
  Lib/ruby/std_map.i
  Lib/ruby/std_multimap.i
  Lib/ruby/std_unordered_map.i
  Lib/ruby/std_unordered_multimap.i
  Lib/ruby/timeval.i
Labels: Ruby
