Repository swig/swig, pull requests merged in 2022-10, with the labels that each got.

#2141 Python subinterpreter issues
  CHANGES.current
  Lib/python/pyrun.swg
Labels: Python

#1823 Unwrap director classes only when returning a pointer or reference to an object
  Examples/test-suite/common.mk
  Examples/test-suite/director_unwrap_result.i
  Examples/test-suite/javascript/Makefile.in
  Examples/test-suite/ruby/director_unwrap_result_runme.rb
  Source/CParse/templ.c
  Source/Modules/python.cxx
  Source/Modules/ruby.cxx
  Source/Swig/swig.h
  Source/Swig/typeobj.c
Labels: C++

#2401 Define PY_SSIZE_T_CLEAN only when not defined yet
  Lib/python/embed.i
  Lib/python/pyruntime.swg
Labels: Python

#2109 Create v8::Number instead of v8::Integer when uint64_t is bigger than UINT32_MAX
  Examples/test-suite/javascript/integers_runme.js
  Lib/javascript/v8/javascriptprimtypes.swg
Labels: Javascript

#2392 Use more portable PyUnicode_AsUTF8String.
  Lib/python/pyhead.swg
Labels: Python
