Repository swig/swig, pull requests merged in 2022-03, with the labels that each got.

#2222 Python: avoid unused SwigMethods_proxydocs var
  Source/Modules/python.cxx
Labels: Python

#1853 [scilab] library name in builder file error
  Lib/scilab/scirun.swg
  Lib/scilab/sciruntime.swg
  Source/Modules/scilab.cxx
Labels: Scilab

#2238 Use different capsule names with and without -builtin
  Examples/test-suite/common.mk
  Examples/test-suite/python/Makefile.in
  Examples/test-suite/python/python_runtime_data_runme.py
  Examples/test-suite/python_runtime_data.list
  Examples/test-suite/python_runtime_data_builtin.i
  Examples/test-suite/python_runtime_data_nobuiltin.i
  Lib/python/pyhead.swg
  Lib/python/pyrun.swg
  Source/Modules/python.cxx
Labels: Python

#2239 C#: Fix CS0034 in Capacity method of std::vector
  Lib/csharp/std_vector.i
Labels: C#
