Repository swig/swig, pull requests merged in 2022-02, with the labels that each got.

#2188 Method calls in expression
  CHANGES.current
  Examples/test-suite/default_arg_expressions.i
  Source/CParse/parser.y
Labels: parser

#2174 [python] Workaround MSVC2022-related bug
  Lib/python/pyruntime.swg
Labels: Python

#2189 [C#] Fix memory leak in directorin typemap for std::string.
  CHANGES.current
  Lib/csharp/std_string.i
Labels: C#

#2170 Move %attribute documentation into the manual
  Doc/Manual/Library.html
  Doc/Manual/SWIG.html
  Lib/typemaps/attribute.swg
Labels: documentation
