Repository swig/swig, pull requests merged in 2023-05, with the labels that each got.

#2572 Javascript check typemap fix
  Examples/test-suite/csharp/li_constraints_runme.cs
  Examples/test-suite/go/li_constraints_runme.go
  Examples/test-suite/java/li_constraints_runme.java
  Examples/test-suite/javascript/li_constraints_runme.js
  Examples/test-suite/li_constraints.i
  Examples/test-suite/lua/li_constraints_runme.lua
  Examples/test-suite/octave/li_constraints_runme.m
  Examples/test-suite/perl5/li_constraints_runme.pl
  Examples/test-suite/php/li_constraints_runme.php
  Examples/test-suite/python/li_constraints_runme.py
  Examples/test-suite/ruby/li_constraints_runme.rb
  Examples/test-suite/tcl/li_constraints_runme.tcl
  Source/Modules/javascript.cxx
Labels: Javascript

#2593 Support parsing arbitrary expression in decltype
  Examples/test-suite/cpp11_template_parameters_decltype.i
  Source/CParse/parser.y
Labels: C++11

#2602 Improve c# ARGC ARGV
  Examples/test-suite/argcargvtest.i
  Examples/test-suite/csharp/argcargvtest_runme.cs
  Lib/csharp/argcargv.i
Labels: C#

#2619 run tests for the std library wrappers
  Examples/test-suite/iadd.i
  Examples/test-suite/javascript/Makefile.in
  Examples/test-suite/javascript/langobj_runme.js
  Examples/test-suite/javascript/li_attribute_runme.js
  Examples/test-suite/javascript/li_attribute_template_runme.js
  Examples/test-suite/javascript/li_carrays_cpp_runme.js
  Examples/test-suite/javascript/li_carrays_runme.js
  Examples/test-suite/javascript/li_cdata_cpp_runme.js
  Examples/test-suite/javascript/li_cdata_runme.js
  Examples/test-suite/javascript/li_cmalloc_runme.js
  Examples/test-suite/javascript/li_cpointer_cpp_runme.js
  Examples/test-suite/javascript/li_cpointer_runme.js
  Examples/test-suite/javascript/li_factory_runme.js
  Examples/test-suite/javascript/li_std_containers_int_runme.js
  Examples/test-suite/javascript/li_std_map_member_runme.js
  Examples/test-suite/javascript/li_std_map_runme.js
  Examples/test-suite/javascript/li_std_pair_runme.js
  Examples/test-suite/javascript/li_std_pair_using_runme.js
  Examples/test-suite/javascript/li_std_vector_enum_runme.js
  Examples/test-suite/javascript/li_std_vector_runme.js
  Examples/test-suite/li_std_containers_int.i
  Lib/javascript/jsc/factory.i
  Lib/javascript/v8/factory.i
Labels: Javascript, C++

#2623 add more JS run tests
  Examples/test-suite/javascript/multivalue_runme.js
  Examples/test-suite/javascript/name_warnings_runme.js
  Examples/test-suite/javascript/namespace_class_runme.js
  Examples/test-suite/javascript/namespace_typemap_runme.js
  Examples/test-suite/javascript/naturalvar_runme.js
  Examples/test-suite/javascript/nested_in_template_runme.js
  Examples/test-suite/javascript/nested_template_base_runme.js
  Examples/test-suite/javascript/nested_workaround_runme.js
  Examples/test-suite/javascript/not_c_keywords_runme.js
  Examples/test-suite/javascript/operator_overload_runme.js
  Examples/test-suite/javascript/operbool_runme.js
  Examples/test-suite/javascript/overload_bool_runme.js
  Examples/test-suite/javascript/overload_complicated_runme.js
  Examples/test-suite/javascript/overload_extend_c_runme.js
  Examples/test-suite/javascript/overload_extend_runme.js
  Examples/test-suite/javascript/overload_simple_runme.js
  Examples/test-suite/javascript/overload_template_fast_runme.js
  Examples/test-suite/javascript/overload_template_runme.js
  Examples/test-suite/namespace_typemap.i
Labels: Javascript
