Repository swig/swig, pull requests merged in 2023-12, with the labels that each got.

#2413 [python] Prevent a potential multithreading crash
  Lib/python/pythreads.swg
Labels: Python

#2727 Python stable abi
  .github/workflows/ci.yml
  CHANGES.current
  Doc/Manual/Contents.html
  Doc/Manual/Python.html
  Doc/Manual/Warnings.html
  Examples/python/docstrings/Makefile
  Examples/test-suite/common.mk
  Examples/test-suite/cpp17_director_string_view.i
  Examples/test-suite/namespace_typemap.i
  Examples/test-suite/python/cpp17_director_string_view_runme.py
  Examples/test-suite/python_runtime_data_builtin.i
  Lib/python/director.swg
  Lib/python/pybuffer.i
  Lib/python/pyerrors.swg
  Lib/python/pyhead.swg
  Lib/python/pyrun.swg
  Lib/python/pyruntime.swg
  Lib/python/pystrings.swg
  Lib/python/std_filesystem.i
  Lib/python/std_string_view.i
  Lib/swigwarnings.swg
  Source/Modules/python.cxx
Labels: Python

#2033 Ruby: Fix missing checks for lower bounds of unsigned long (long) parameters
  Examples/test-suite/common.mk
  Examples/test-suite/numeric_bounds_checking.i
  Examples/test-suite/ruby/numeric_bounds_checking_runme.rb
  Lib/ruby/rubyprimtypes.swg
  Lib/ruby/rubyrun.swg
Labels: Ruby

#2494 python/cast_mode: Fix integer overflow of LONG_MAX+1.
  CHANGES.current
  Examples/test-suite/overload_simple.i
  Examples/test-suite/php/overload_simple_runme.php
  Examples/test-suite/python/python_overload_simple_cast_runme.py
  Lib/python/pyprimtypes.swg
Labels: Python

#2737 [Tcl] Prepare `load` command usage for TIP 595
  Examples/tcl/class/runme.tcl
  Examples/tcl/class/runme2.tcl
  Examples/tcl/constants/runme.tcl
  Examples/tcl/contract/runme.tcl
  Examples/tcl/enum/runme.tcl
  Examples/tcl/funcptr/runme.tcl
  Examples/tcl/import/runme.tcl
  Examples/tcl/multimap/runme.tcl
  Examples/tcl/operator/runme.tcl
  Examples/tcl/pointer/runme.tcl
  Examples/tcl/reference/runme.tcl
  Examples/tcl/simple/runme.tcl
  Examples/tcl/std_vector/runme.tcl
  Examples/tcl/value/runme.tcl
  Examples/tcl/variables/runme.tcl
  Examples/test-suite/tcl/argcargvtest_runme.tcl
  Examples/test-suite/tcl/bools_runme.tcl
  Examples/test-suite/tcl/catches_strings_runme.tcl
  Examples/test-suite/tcl/clientdata_prop_runme.tcl
  Examples/test-suite/tcl/cpp11_move_typemaps_runme.tcl
  Examples/test-suite/tcl/cpp11_rvalue_reference_move_runme.tcl
  Examples/test-suite/tcl/cpp11_std_unique_ptr_runme.tcl
  Examples/test-suite/tcl/cpp11_strongly_typed_enumerations_runme.tcl
  Examples/test-suite/tcl/disown_runme.tcl
  Examples/test-suite/tcl/enum_thorough_runme.tcl
  Examples/test-suite/tcl/import_nomodule_runme.tcl
  Examples/test-suite/tcl/imports_runme.tcl
  Examples/test-suite/tcl/integers_runme.tcl
  Examples/test-suite/tcl/li_std_auto_ptr_runme.tcl
  Examples/test-suite/tcl/li_std_string_runme.tcl
  Examples/test-suite/tcl/li_std_vector_runme.tcl
  Examples/test-suite/tcl/member_pointer_runme.tcl
  Examples/test-suite/tcl/newobject1_runme.tcl
  Examples/test-suite/tcl/newobject2_runme.tcl
  Examples/test-suite/tcl/null_pointer_runme.tcl
  Examples/test-suite/tcl/overload_copy_runme.tcl
  Examples/test-suite/tcl/overload_null_runme.tcl
  Examples/test-suite/tcl/overload_simple_runme.tcl
  Examples/test-suite/tcl/primitive_ref_runme.tcl
  Examples/test-suite/tcl/primitive_types_runme.tcl
  Examples/test-suite/tcl/profiletest_runme.tcl
  Examples/test-suite/tcl/reference_global_vars_runme.tcl
  Examples/test-suite/tcl/union_parameter_runme.tcl
  Examples/test-suite/tcl/unions_runme.tcl
Labels: Tcl
